*,html {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/img/88246.jpg");
    background-size: auto;
    background-attachment: fixed;
}

header {
    color: whitesmoke;
    font-size: 20pt;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

ul {
    list-style: none;
    text-align: right;
    overflow: auto;
}

li {
    background-color: rgb(0, 0, 0);
    width: 150px; /* Largeur block */
    height: 70px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* display:table-row; */
    line-height: 70px;
}

a {
    text-decoration: none;
    color: rgb(173, 173, 173);
}

ul li {
    float: right;
}
   
li a {
    display: block; 
}
    
ul li a:hover {
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
}

.logo{
    position: fixed;
    top: 0px;
    left: 0;
}
    
.sec{
    margin: 5px auto;
    width: 100%;
    padding: 4px 5px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 70px;
}

aside{
    vertical-align: top;
}

.blc{
    display: inline-block;
    width: 44%;
    background-color: rgb(53, 53, 53);
    margin: 1%;
    padding: 16px 20px;
    text-align: justify;
}

.blc1{
    display: inline-block;
    width: 44%;
    background-color: rgb(53, 53, 53);
    margin: 1%;
    padding: 16px 20px;
    text-align: justify;
}

footer{
    padding: 10px 100px;
    font-size: 14px;
    position: relative;
    top: 70px;
}